*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER SECTION STARTS*/
header{
    width: 100%;
    height: 60px;
    background-color: #2874f0;
    display: flex;
    justify-content: space-evenly;
}

.left-header{
    position: relative;
    top: 2px;
    left: 100px;
    width: 20%
    text-align: right;
    margin: 5px 0px;
    cursor: pointer;
}

.left-header a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    font-family: 'Source Serif Pro', serif;
}

.left-header p a{
    font-size: 13px;
    letter-spacing: 1px;
}

.left-header p span{
    color: yellow;
    font-size: 11px;
    letter-spacing: 1px
}

.left-header p:hover{
    color: white;
    text-decoration: underline;
}

.center-header{
    width: 40%;
    text-align: left;
    cursor: pointer;
    line-height: 60px;
    padding-left: 10px;
    position: relative;
    left: 55px;
}

.header-input{
    height: 38px;
    cursor: value;
    width: 100%;
    border: none;
    outline:none;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
}

.fa-search{
    position: absolute;
    color: #2874f0;
    top: 35%;
    left: 94%;
    font-size: 17px;
}

.right-header{
    width: 40%;
    font-size: 15px;
    display: flex;
    line-height: 60px;
    text-transform: capitalize;
    justify-content: flex-start;
}

.right-header a{
    color: white;
    text-decoration: none;
    margin: 0px 25px
}

.right-header .right-header-login{
    width: 130px;
    height: 35px;
    position: relative;
    left: 60px;
    top: 5px;
    color: #2874f0;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 2px;
    line-height: normal;
    font-weight: bold;
    padding: 8px 35px;
    margin: 8px;
    text-align: center;
}

.right-header .right-header-more{
    position: relative;
    left: 50px;
    width: 130px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 10px;
    text-align: center;
}

.right-header .right-header-cart{
    position: relative;
    top: 1px;
    left: 20px;
    width: 70px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.fa-shopping-cart{
    padding-right: 5px;
}

.fa-sort-down{
    padding-left: 1px;
}
/* HEADER SECTION ENDS*/


/* TOP SECTION STARTS */
.product-category-row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    text-align: center;
}

.product-category-columns{
    cursor: pointer;
    padding: 10px;
    color: rgb(85,83,83);
}

.product-category-columns img{
    width: 60px;
    height: 60px;
}

.product-category-columns h4:hover{
    color: #2874f0;
}
/* TOP SECTION ENDS */


/* BANNER SECTION STARTS */
.carousel_item{
    margin: auto;
    max-width: 1608px;
    min-width: 978px;
    overflow-x: hidden;
    padding-top: 10px;
}

.nav_button{
    position: absolute;
}

.carousel_btn{
    position: relative;
    border-radius: 5px;
    font-size: 40px;
    width: 47px;
    height: 104px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 5px 0;
    background: white;
    top: 45px;
}

.prev_btn{
    left: 0;
    margin-left: 9px;
}

.next_btn{
    right: 0;
    margin-right: 9px;
}

.next_prev{
    font-weight: bold;
    padding: 30px 15px 15px 15px;
    cursor: pointer;
}

.carousel{
    border-radius: 4px 0px 0px 4px;
}

.carousel_items{
    width: 100%;
}

.carousel_image{
    width: 100%;
    height: 200px;
    padding: 8px;
}

/*.banner{
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.slider{
    display: flex;
    width: 4047px;
    position: relative;
    animation-name: slide;
    animation-duration: 15s;
}

.slider img{
    width: 100%;
}
@keyframes slide{
    0%{
        left:0px;
    }
    26.66%{
        left: 0px;
    }
    33.33%{
        left: -1349px;
    }
    60%{
        left: -1349px;
    }
    66.66%{
        left: -2698px;
    }
    93.33%{
        left: -2698px;
    }
    100%{
        left: -4047px;
    }
}
*/

/* BANNER SECTION ENDS */




/* MAIN SECTION STARTS */
/* DEALS OF THE DAY COLUMN */
.card{
    box-shadow: 0px 0px 5px 1px rgb(191,191,191);
    padding: 10px 0px;
    margin: 10px 5px;
    border-radius: 5px;
}

.section-heading{
    width: 100%;
    display: flex;
    padding: 5px 20px;
    margin-top: 20px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(232,235,234);
    margin-top: -0.5px;
}

.section-heading-left h1{
    font-size: 24px;
    display: flex;
    font-weight: 600;
    padding: auto;
    color: rgb(46, 46, 46);
}

.section-heading-left h6{
    color: grey;
    position: relative;
}

.section-heading .time{
    width: 20%;
    color: grey;
    position: relative;
    left: -320px;
    top: 4px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.3rem;
}

.section-heading-right button{
    width: 90px;
    height: 40px;
    top: -4px;
    font-size: 13px;
    font-weight: 800;
    color: white;
    background-color: #2874f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*
.card .adcard{
    height: 100%;
    width: 20%;
    padding: 0.2em;
    cursor: pointer;
    position: relative;
}
.card .adcard img{
    height: 100%;
    width: 70%;
    position: absolute;
    left:1000px;
    top:-222px;
}
*/

.row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;
    min-height: 190px;
}

.product-column{
    text-align: center;
    line-height: 22px;
}

.product-column img{
    width: 150px;
    height: 150px;
    transition: 300ms;
}

.product-column img:hover{
    transform: scale(0.9);
}

.product-column h4,h5,h6{
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}

.product-column h4{
    margin-top: 10px;
    font-size: 14px;
}

.product-column h5{
    color: green;
    font-size: 13px;
    font-weight: 300;
}

.product-column h6{
    color: grey;
    font-size: 12px;
    font-weight: 100;
}

/* BOOKS AND MUSIC COLUMN */
.column-music img{
    width: 125px;
    height: 150px;
}

/* CLOTHING COLUMN */
.column-clothing img{
    width: 125px;
    height: 150px;
}

/* ELECTRONICS COLUMN */
.column-electronics img{
    width: 100px;
    height: 150px;
}
/* MAIN SECTION ENDS HERE */



/* FOOTER */
footer{
    background-color: #172337;
    height: 332;
    border-radius: 2px;
}

.footer-row{
    width: 100%;
    height: 270px;
    display: flex;
    padding: 30px 60px;
}

.footer-row-2{
    display: flex;
    border-top: 1px solid #454d5e;
    justify-content: space-evenly;
}

.footer-col-1{
    width: 15%;
}

.footer-col-2{
    width: 15%;
}

.footer-col-3{
    width: 15%;
}

.footer-col-4{
    width: 10%;
}

.footer-col-5{
    width: 20%;
    border-left: 1px solid #454d5e;
    height: 120px;
    padding-left: 25px;
}

.footer-col-6{
    width: 20%;
    padding-left: 50px;
}

.footer-heading p{
    font-size: 12px;
    color: #878787;
    padding: 10px 0px;
    cursor: pointer;
    text-align: left;
    font-weight: 400px;
}

.footer-list a{
    color: white;
    padding: 5px 0px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-list a:hover{
    text-decoration: underline;
}

.footer-list p{
    color: white;
    heightL 20px;
    cursor: pointer;
    padding: 5px 0px;
    font-size: 12px;
    text-align: left;
    display: block;
    font-weight: 100px;
    line-height: 20px;
}

.footer-list-address{
    color: white;
    heightL 20px;
    cursor: pointer;
    padding: 5px 0px;
    font-size: 12px;
    text-align: left;
    display: block;
    font-weight: 100px;
    line-height: 20px;
}

.footer-list-address span{
    color: cyan;
    text-decoration: underline;
}

.footer-row-2-columns{
    color: white;
    font-size: 12px;
    font-weight: 100px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 0.7px;
}

.footer-row-2-columns p i{
    color: yellow;
    padding: 10px;
}

